.campo {
  justify-self: center;
  align-self: center;
  display: flex;
  width: 30rem;
  height: 3.8rem;
  align-items: center;
  justify-content: baseline;
  position: relative;

  img {
    position: absolute;
    left: 1.3rem;
    width: 1.5rem;

    &.vizualisar {
      left: auto;
      right: 1.3rem;
    }
  }

  input {
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
    background: var(--cinza-claro);
    border: none;
    outline: none;
    color: var(--cinza);
    padding-left: 4rem;
    padding-right: 3.4rem;
    font-size: var(--texto-pequeno);

    &::placeholder {
      color: var(--cinza);
      font-size: var(--texto-pequeno);
    }
  }
}
