.campo {
  justify-self: center;
  align-self: center;
  display: flex;
  width: var(--largura-componentes);
  height: var(--altura-componentes);
  align-items: center;
  justify-content: baseline;
  position: relative;

  svg {
    position: absolute;
    left: 1.3rem;
    width: var(--tamanho-icones);
    height: var(--tamanho-icones);
    fill: var(--cinza);

    &.vizualisar {
      left: auto;
      right: 1.3rem;
    }
  }

  input {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: var(--cinza-claro);
    border: none;
    outline: none;
    color: var(--cinza);
    padding-left: 4rem;
    padding-right: 3.4rem;
    font-size: var(--texto-pequeno);


    &::placeholder {
      color: var(--cinza);
      font-size: var(--texto-pequeno);
    }
  }
}
