form {
  background-color: red;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(30, 1fr);

  .parte-escura {
    background-color: var(--cinza);
    grid-column: 1 / 31;
    grid-row: 1 / 31;
    z-index: 1;
  }
  .parte-branca {
    background-color: var(--branco);
    z-index: 2;
    border-top-left-radius: calc( 10vh + 10vw);
    grid-column: 1 / 31;
    grid-row: 10 / 31;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 1fr);

    & * {
      overflow: hidden;
    }

    h2 {
      color: var(--cinza);
      justify-self: center;
      align-self: center;
      text-align: center;
      grid-column: 1 / 31;
      grid-row: 4 / 6;
    }

    .acoes-form {
      grid-column: 1 / 31;
      grid-row: 16 / 19;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      overflow: hidden;

      button {
        width: 100px;
        height: 45px;
        background-color: var(--cinza);
        color: var(--branco);
        border: none;
      }
    }
  }
}

img {
  display: none;
}

form * {
  overflow: hidden;
}
