:root {
  --largura-componentes: clamp(10px, calc(180px + 30vw), 400px);
  --altura-componentes: clamp(10px, calc(30px + 3vh), 60px);
  --tamanho-icones: 1.5rem;
}

form {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(30, 1fr);

  .parte-baixa {
    min-height: 545px;
    background-color: var(--branco);
    z-index: 2;
    border-top-left-radius: clamp(10px, 20vw, 200px);
    grid-column: 1 / 31;
    grid-row: 8 / 31;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 1fr);

    h2 {
      font-size: var(--texto-grande);
      color: var(--cinza);
      justify-self: center;
      align-self: center;
      text-align: center;
      grid-column: 1 / 31;
      grid-row: 4 / 6;
      overflow: hidden;
    }

    p {
      color: var(--cinza);
      font-size: var(--texto-medio);
      grid-column: 1 / 31;
      grid-row: 13 / 15;
      justify-self: center;
      align-self: center;

      &.recuperar-senha{
         grid-row: 12 / 14;
      }
    }

    .acoes-form {
      justify-self: center;
      align-self: center;
      width: var(--largura-componentes);
      grid-column: 1 / 31;
      grid-row: 20 / 22;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: 15px;

      button, a {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 8px;
        width: var(--largura-componentes);
        height: var(--altura-componentes);
        background-color: var(--cinza);
        color: var(--branco);
        border: none;
      }
    }
  }
}
