form {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(30, clamp(15px, 20%, 25px));
  background-color: var(--branco);

  div.entradas {
    min-height: 600px;
    background-color: var(--branco);
    z-index: 2;
    border-top-left-radius: clamp(10px, 20vw, 120px);
    grid-column: 1 / 31;
    grid-row: 8 / 31;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 1fr);

    h1 {
      font-size: var(--texto-gg);
      color: var(--cinza);
      justify-self: center;
      align-self: center;
      text-align: center;
      grid-column: 1 / 31;
      grid-row: 4 / 6;
      overflow: hidden;
    }

    p {
      font-size: var(--texto-m2);
      color: var(--cinza);
      grid-column: 1 / 31;
      grid-row: 13 / 15;
      justify-self: center;
      align-self: center;

      &.recuperar-senha {
        grid-row: 12 / 14;
      }
    }

    .acoes-form {
      justify-self: center;
      align-self: center;
      width: var(--largura-componentes);
      grid-column: 1 / 31;
      grid-row: 20 / 22;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: 15px;

      button,
      a {
        font-size: var(--texto-m2);
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 8px;
        width: var(--largura-componentes);
        height: var(--altura-componentes);
        background-color: var(--cinza);
        color: var(--branco);
        border: none;
      }
    }
  }
}

@media (min-width: 576px) {
  form {
    div.entradas {
      h1 {
        font-size: var(--texto-xxg);
      }

      p {
        font-size: var(--texto-g1);
        &.recuperar-senha {
        }
      }

      .acoes-form {
        button,
        a {
          font-size: var(--texto-g1);
        }
      }
    }
  }
}

@media (min-width: 768px) {
  form {
    div.entradas {
      h1 {
      }

      p {
        &.recuperar-senha {
        }
      }

      .acoes-form {
        button,
        a {
        }
      }
    }
  }
}

@media (min-width: 992px) {
  form {
    .parte-baixa {
      h2 {
      }

      p {
        &.recuperar-senha {
        }
      }

      .acoes-form {
        button,
        a {
        }
      }
    }
  }
}
