@import './cores.scss';

:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;

  --texto-p: clamp(0.75rem, 0.75rem + .5vw, 1rem);
  --texto-m: clamp(1rem, 1rem + .5vw, 1.5rem);
  --texto-g: clamp(1.125rem, 1.125rem + .5vw, 1.5rem);
  --texto-gg: clamp(1.5rem, 1.5rem + .5vw, 2rem);
  --texto-xxg: clamp(2rem, 2rem + .5vw, 2.1rem);

  --altura-componentes: clamp(2.75rem, 2.75rem + .5vw, 3.5rem);
  --largura-componentes: clamp(17.5rem, 85vw, 25rem);
  --tamanho-icones: clamp(1.3rem, 1.3rem + .8vw, 2rem);
}

@media (min-width: 576px) {
  :root {
    --texto-p: clamp(1rem, 1rem + .5vw, 1.2rem);
    --texto-m: clamp(1.2rem, 1.2rem + 15vw, 1.4rem);
    --texto-g: clamp(2rem, 2rem + .5vw, 2.5rem);
    --texto-gg: clamp(2.5rem,  2.5rem + .5vw, 2.5rem);
    --texto-xxg: clamp(2.5rem, 2.5rem + .5vw, 3rem);

    --altura-componentes: clamp(4.2rem, 4.2rem + 0.5vw, 4.5rem);
    --largura-componentes: clamp(17.5rem, 85vw, 560px);
    --tamanho-icones: clamp(1.8rem, 1.8rem + .5vw, 2.4rem);
  }
}
@media (min-width: 768px) {
  :root {
    --texto-p: clamp(1.1rem, 1.1rem + .5vw, 1.4rem);
    --texto-m: clamp(1.4rem, 1.4rem + .5vw, 1.6rem);
    --texto-g: clamp(2rem, 2rem + .5vw, 2.5rem);
    --texto-gg: clamp(2.5rem, 2.5rem + .5vw, 2.5rem);
    --texto-xxg: clamp(2.8rem, 2.8rem + .5vw, 3.3rem);

    --altura-componentes: clamp(4.2rem, 4.2rem + .5vw, 4.8rem);
    --largura-componentes: clamp(17.5rem, 85vw, 40rem);
    --tamanho-icones: clamp(2rem, 2rem + .5vw, 2.7rem);
  }
}

@media (min-width: 992px) {
  :root {
    --texto-p: clamp(0.8rem, 0.8rem + .1vw, 1.1rem);
    --texto-m: clamp(1rem, 1rem + .1vw, 1.5rem);
    --texto-g: clamp(2rem, 2rem + .1vw, 2rem);
    --texto-gg: clamp(2.5rem, 2.5rem + .1vw, 2rem);
    --texto-xxg: clamp(2.2rem, 2.2rem + .1vw, 3rem);

    --altura-componentes: clamp(3.1rem, 3.1rem + .1vw, 4rem);
    --largura-componentes: clamp(17.5rem, 85vw, 450px);
    --tamanho-icones: clamp(1.4rem, 1.4rem + .1vw, 1.9rem);
  }
}


@media (min-width: 1440px) {
   :root {
    --texto-p: clamp(1rem, 1rem + .2vw, 1.1rem);
    --texto-m: clamp(1.3rem, 1.3rem + .2vw, 1.8rem);
    --texto-g: clamp(2rem, 2rem + .2vw, 2.8rem);
    --texto-gg: clamp(2.6rem, 2.6rem + .2vw, 3.2rem);
    --texto-xxg: clamp(3rem, 3rem + .2vw, 3.8rem);

    --altura-componentes: clamp(3.8rem, 3.8rem + .2vw, 6rem);
    --largura-componentes: clamp(20rem, 52vw, 38rem); /* 45rem ≈ 720px */
    --tamanho-icones: clamp(2rem, 2rem + .2vw, 3rem);
  }
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
}
