@import './cores.scss';

:root {
  background-color: var(--cinza);
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;

  --texto-medio: 1.2rem;
  --texto-grande: 1.5rem;
  --texto-extragrande: calc(var(--texto-grande) * 1.2);

  --texto-pequeno: 1rem;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
}
