:root {
  color-scheme: dark;

  --color-gray-dark: #1D1E1C;
  --color-gray-light: #DDDDD3;
  --color-black: #000000;
  --color-white: #F8F6F2;
  --color-red: #840F0F;
  --color-input: #3C3C3C;
  --color-green: #008000;
  --shadow-default: 0 0 7px #ffffff41;
}
