:root {
  color-scheme: dark;

  --color-gray-dark: rgba(29, 30, 28);
  --color-gray-light: rgba(221, 221, 211);
  --color-black: rgba(0, 0, 0);
  --color-white: rgba(248, 246, 242);
  --color-red: rgba(132, 15, 15);
  --color-input: rgba(60, 60, 60);
  --color-green: rgba(0, 128, 0);
  --shadow-default: 0 0 7px rgba(255, 255, 255, 0.255);
}
