:root {
  color-scheme: dark;

  --color-gray-dark: #1d1e1c;
  --color-gray-light: #ddddd3;
  --color-black: #000000;
  --color-white: #f8f6f2;
  --color-red: #840f0f;
  --color-input: #3c3c3c;
  --color-green: #219653;
  --shadow-default: 0 0 7px #ffffff41;
}
